In [ ]:
# 1. Write a python program to triple all numbers in a list using python map

l = [1,2,3,4,5,6]
def triple(x):
  return x*3

print(list(map(triple,l)))

[3, 6, 9, 12, 15, 18]

In [ ]:
# 2. Write a python program to add three given lists using python map and lambda
arr1 = [1,2,3,4,5]
arr2 = [6,7,8,9,10]
arr3 = [11,12,13,14,15]

print(list(map(lambda x,y,z: x+y+z, arr1,arr2,arr3)))

[18, 21, 24, 27, 30]

In [ ]:
# 3. write a python program to lisify the list of given strings individually using python map
l = ["hello", "world", "python"]
print(list(map(lambda x: list(x), l)))

[['h', 'e', 'l', 'l', 'o'], ['w', 'o', 'r', 'l', 'd'], ['p', 'y', 't', 'h', 'o', 'n']]

In [ ]:
# 4. write a python program to create a list containing the power of said number in bases raised to the index using map
base = int(input("Enter the base number: "))
length = int(input("Enter the length of the required list: "))

print(list(map(lambda x: base ** x, range(length))))

Enter the base number: 5
Enter the length of the required list: 6
[1, 5, 25, 125, 625, 3125]

In [ ]:
# 5. write a python program to square the elements of a list using the python map function
print(list(map(lambda x:x**2, list(map(int,input("Enter list elements: ").split())))))

1 2 3 4 5
[1, 4, 9, 16, 25]

In [5]:
# 6. write a python program to convert all characters into uppercase and lowercase and eliminate duplicate letters from given sequence using map
seq = input("Enter sequence: ")

uppercase = "".join(list(map(lambda x: x.upper(), seq)))
lowercase = "".join(list(map(lambda x: x.lower(), seq)))

No_duplicates_upper = "".join(dict.fromkeys(uppercase))
No_duplicates_lower = "".join(dict.fromkeys(lowercase))

print("Uppercase:",uppercase)
print("Lowercase:",lowercase)
print("Uppercase without duplicates:",No_duplicates_upper)
print("Lowercase without duplicates:",No_duplicates_lower)

Enter sequence: Hey! My Name is Sourav.
Uppercase: HEY! MY NAME IS SOURAV.
Lowercase hey! my name is sourav.
Uppercase without duplicates: HEY! MNAISOURV.
Lowercase without duplicates: hey! mnaisourv.

In [5]:
# 7. write a python program to add 2 given lists and find differences between them using map
list1 = list(map(int, input("Enter list1 elements: ").split()))
list2 = list(map(int, input("Enter list2 elements: ").split()))
def add(list1, list2):
    return list(map(lambda x, y: x + y, list1, list2))
def difference(list1, list2):
    return list(map(lambda x, y: abs(x - y), list1, list2))

if len(list1) != len(list2):
  print("Lists must be of same length.")
else:
  addedList = add(list1, list2)
  print("Added List:", addedList)
  diffList = difference(list1, list2)
  print("Difference List:", diffList)

Enter list1 elements: 1 2 34 5 2
Enter list2 elements: 6 3 67 2 1
Added List: [7, 5, 101, 7, 3]
Difference List: [5, 1, 33, 3, 1]

In [4]:
# 8. wap to convert a given list of integers and a tuple of integers in a list of strings

integer_list = [1, 2, 3, 4, 5]
integer_tuple = (6, 7, 8, 9, 10)

list_of_strings_of_List = list(map(str,integer_list))
list_of_strings_of_Tuple = list(map(str,integer_tuple))

print(f"List of strings from the list: {list_of_strings_of_List}")
print(f"List of strings from the tuple: {list_of_strings_of_Tuple}")

List of strings from the list: ['1', '2', '3', '4', '5']
List of strings from the tuple: ['6', '7', '8', '9', '10']

In [7]:
# 9. wap to create a new list taking specific elements from a tuple and convert a string value to an integer
tuple=(10, 'apple', '25', 3.14, 'banana')
newlist=[]
newlist.append(tuple[0])
newlist.append(int(tuple[2]))
print(newlist)

[10, 25]

In [10]:
# 10. wap to compute the square of first n fibonacci numbers using map and generate a list of numbers
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)


n = int(input("Enter the value of n: "))
fibonacci_numbers = list(map(fibonacci, range(n)))
square_fibonacci = list(map(lambda x: x**2, fibonacci_numbers))
print(square_fibonacci)

Enter the value of n: 10
[0, 1, 1, 4, 9, 25, 64, 169, 441, 1156]

In [16]:
# 11. wap to compute the sum of elements of an array of integers using map
print("sum = ",sum(list(map(int,input("Enter elements of array: ").split()))))

Enter elements of array: 1 2 3 4 5
sum =  15