In [ ]:
# 1. WAP to check if given number is disarium number (1^1 + 7^2 + 5^3 = 175)
num = input("Enter num: ")
sum = 0
count = 1
for i in num:
  sum += int(i)**count
  count += 1
if sum == int(num):
  print(num, "is a disarium number")
else:
  print(num, "is not a disarium number")

Enter num: 175
175 is a disarium number

In [ ]:
# 2. WAP to det whether the given number is a harshad number (if number is divisible by the sum of its digits, then its harshad number)
num = input("Enter num: ")
sum = 0
for i in num:
  sum += int(i)
if int(num) % sum == 0:
  print(num, "is harshad number")
else:
  print(num, "is not a harshad number")

Enter num: 50
50 is harshad number

In [ ]:
# 3. WAP to print armstrong number from 1 to 1000
num = 1
while num < 1000:
  sum = 0
  for i in str(num):
      sum += int(i)**len(str(num))
  if sum == num:
      print(num,end=' ')
  num += 1

1 2 3 4 5 6 7 8 9 153 370 371 407

In [ ]:
# 4. WAP to compute value of X^n
X = int(input("Enter X: "))
n = int(input("Enter n: "))
print(f"{X}^{n} = {X**n}")

Enter X: 5
Enter n: 3
5^3 = 125

In [ ]:
# 5. WAP to compute the value of nCr
import math
n = int(input("Enter n: "))
r = int(input("Enter r: "))

print(f"nCr = {math.factorial(n) / (math.factorial(r) * math.factorial(n - r))}")

Enter n: 8
Enter r: 5
nCr = 56.0

In [ ]:
# 6. WAP to generate the fibonacci series
n = int(input("Enter number of terms: "))
if n==1:
  print(0)
else:
  n1,n2 = 0,1
  print(n1,n2,end=' ')
  for _ in range(2,n):
    n3 = n1+n2
    print(n3,end=' ')
    n1,n2 = n2,n3

Enter number of terms: 10
0 1 1 2 3 5 8 13 21 34

In [ ]:
# 7. WAP to count the sum of digits in the entered number.
num = input("Enter num: ")
sum = 0
for i in num:
  sum += int(i)
print(sum)

Enter num: 123
6

In [ ]:
# 8. WAP to find the reverse of given number
num = input("Enter num: ")
print(int(num[::-1]))

Enter num: 1234
4321

In [ ]:
# 9. WAP to check whether the given number is perfect or not
# perfect number is a number which is equal to sum of its positive proper divisors except number itself
num = int(input("Enter num: "))
sum=0
for i in range(1, num//2+1):
  if num % i == 0:
    sum+=i
if num == sum:
  print(num,"is a perfect number")
else:
  print(num,"is not a perfect number")

Enter num: 6
6 is a perfect number

In [ ]:
# 10. WAP to check whether a given number is palindrome or not
num = input("Enter num: ")
if num == num[::-1]:
    print(int(num), "is a palindrome")
else:
    print(int(num), "is not a palindrome")

Enter num: 12321
12321 is a palindrome

In [5]:
# 11. Write a program to display the following pattern:
# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5

n = int(input("Enter num of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

Enter num of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
# 12. Write a program to display the following pattern:
# 1
# 2 2
# 3 3 3
# 4 4 4 4
# 5 5 5 5 5

n = int(input("Enter num of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

Enter num of rows: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
# 13. Write a program to display the following pattern:
# A
# B B
# C C C
# D D D D
# E E E E E

n = int(input("Enter num of rows: "))
for i in range(1,n+1):
  for j in range(1,i+1):
      print(chr(i+64),end=' ')
  print()

Enter num of rows: 5
A
B B
C C C
D D D D
E E E E E

In [3]:
# 14. Write a program to display the following pattern:
# *****
# ****
# ***
# **
# *
n = int(input("Enter num of rows: "))
for i in range(n + 1, 0,  -1):
  for j in range(i + 1, 2, -1):
      print("*", end=" ")
  print()

Enter num of rows: 5
* * * * *
* * * *
* * *
* *
*

In [15]:
# 15. Write a program to display the following pattern:
# 1 2 3 4 5
# 1 2 3 4
# 1 2 3
# 1 2
# 1

n = int(input("Enter num of rows: "))
for i in range(n):
  for j in range(1,n-i+1):
    print(j,end=' ')
  print()

Enter num of rows: 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [16]:
# 16. Write a program to display the following pattern:
#         *
#       * * *
#     * * * * *
#   * * * * * * *
# * * * * * * * * *
n = int(input("Enter number of rows: "))
for i in range(1, n + 1):
    print("  " * (n - i), end="")
    print("* " * (2 * i - 1))

Enter number of rows: 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [17]:
# 17. Write a program to display the following pattern:
#         1
#       2 3 2
#     3 4 5 4 3
#   4 5 6 7 6 5 4
# 5 6 7 8 9 8 7 6 5
n = int(input("Enter number of rows: "))
for i in range(1, n + 1):
    print("  " * (n - i), end="")
    num = i
    for j in range(i):
        print(num, end=" ")
        num += 1

    num -= 2
    for j in range(i - 1):
        print(num, end=" ")
        num -= 1

    print()

Enter number of rows: 5
        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [23]:
# 18. Write a program to display the following pattern:
#  * * * * * * * * *
#    * * * * * * *
#      * * * * *
#        * * *
#          *
n = int(input("Enter number of rows: "))
for i in range(n):
    print("  " * i, end="")
    print("* " * (2 * (n - i) - 1))

Enter number of rows: 5
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [21]:
# 19. Write a program to display the following pattern (Pascal Triangle):
#         1
#       1   1
#     1   2   1
#   1   3   3    1
#  1  4   6   4   1
# 1  5  10  10  5   1
from math import factorial
n = int(input("Enter number of rows: "))
for i in range(n):
    print(' ' * (n - i), end='')
    num = 1
    for j in range(i + 1):
      num = factorial(i) // (factorial(j) * factorial(i - j))
      print(f"{num}",end=" ")
    print()

Enter number of rows: 5
     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

In [26]:
# 20. Write a program to display the following pattern:
# 1
# 2 3
# 4 5 6
# 7 8 9 10
n = int(input("Enter number of rows: "))
num = 1
for i in range(1, n + 1):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()

Enter number of rows: 4
1
2 3
4 5 6
7 8 9 10

In [29]:
# 21. Write a program to display the following pattern:
# A
# B A B
# A B A B A
# B A B A B A B

n = int(input("Enter num of rows: "))
f = 0
for i in range(n):
    for j in range(2 * i + 1):
        if f == 0:
            print("A", end=" ")
            f = 1
        else:
            print("B", end=" ")
            f = 0
    print()

Enter num of rows: 4
A
B A B
A B A B A
B A B A B A B

In [37]:
# 12. Write a program to display the following pattern:
# 1
# 0 1 0
# 1 0 1 0 1
# 0 1 0 1 0 1 0

n = int(input("Enter num of rows: "))
f = 0
for i in range(n):
    for j in range(2 * i + 1):
        if f == 0:
            print(1, end=" ")
            f = 1
        else:
            print(0, end=" ")
            f = 0
    print()

Enter num of rows: 4
1
0 1 0
1 0 1 0 1
0 1 0 1 0 1 0